# dependencies
node_modules/

# Packages
build/
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
lerna-debug.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
.env*.local
!.env.example

# local db files
db.json

# typescript
*.tsbuildinfo

expo-env.d.ts
# @end expo-cli
